.pop-up-add-item-enter {
  position: absolute;
  bottom: 210px !important;
  opacity: 0;
}
.pop-up-add-item-enter-active {
  opacity: 1;
  bottom: 110px !important;
  transition: opacity 500ms, bottom 500ms;
}
.pop-up-add-item-exit {
  bottom: 110px !important;
  opacity: 1;
}
.pop-up-add-item-exit-active {
  bottom: 210px !important;
  opacity: 0;
  transition: opacity 500ms, bottom 500ms;
}

.backdrop-modal-enter {
  opacity: 0 !important;
}
.backdrop-modal-enter-active {
  opacity: 0.25 !important;
  transition: opacity 500ms;
}
.backdrop-modal-exit {
  opacity: 0.25 !important;
}
.backdrop-modal-exit-active {
  opacity: 0 !important;
  transition: opacity 500ms, bottom 500ms;
}

.modal-enter {
  opacity: 0 !important;
  top: 70% !important;
}
.modal-enter-active {
  opacity: 1 !important;
  top: 50% !important;
  transition: opacity 500ms, top 500ms;
}
.modal-exit {
  opacity: 1 !important;
  top: 50% !important;
}
.modal-exit-active {
  opacity: 0 !important;
  top: 70% !important;
  transition: opacity 500ms, top 500ms;
}

.alert-enter {
  right: -322px;
}

.alert-enter-active {
  right: 0px;
  transition: right 500ms;
}

.alert-exit {
  right: 0px;
}

.alert-exit-active {
  right: -322px;
  transition: right 500ms;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
